@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232e35; /* Untuk title atau judul */
  --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph contohnya */

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; /* untuk line di pre-title */

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

/* General body styling */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

/* Hero Section */
.hero {
  background: #f4f4f4;
  color: #333;
  padding: 50px 0;
}

.hero h1,
.hero h2 {
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
}

.grid-3 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* Portfolios */
/* Portfolios */
#portfolios {
}

.portfolio {
  border-radius: var(--itemBorderRadius);
  border: 1px solid var(--borderColor);
  overflow: hidden;
}

.portfolio-cover img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* Skills and Education */
#skills {
  background: var(--secondaryBackgroundColor);
}

.skills-grid {
  display: grid;
  /* grid-template-columns: 40% 60%; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 1rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: #f1f1f1;
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #f1f1f1;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* Right side of Skills */
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Portfolio Section */
#portfolio {
  background: #fff;
  color: #333;
}

#portfolio .card {
  margin-bottom: 30px;
}

#portfolio .card-img-top {
  height: 200px;
  object-fit: cover;
}

#portfolio .card-title {
  font-weight: 700;
}

#portfolio .btn {
  color: #fff;
  background: #333;
}

#portfolio .btn:hover {
  background: #444;
}
footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}
